services:
  # ------ MQTT Subscriber ------- #
  mqtt-subscriber:
    container_name: mqtt-subscriber
    build:
      context: .
      dockerfile: ./mqtt_subscriber/Dockerfile.dev
    env_file:
      - path: ./mqtt_subscriber/.env.example
        required: true
    ports:
      - '3001:3000'
    volumes:
      - ./mqtt_subscriber:/app
      - mqtt_subscriber_target:/app/target
    profiles: ["ingress", "full"]

volumes:
  mqtt_subscriber_target: